/*comentario aqui para substtituir o css que vira*/
body{
     background-color: #363945;
     font-family: monospace;
     color: rgb(201, 202, 200);
}


.link{
    background-color: rgba(127, 104, 148, 0.664);
     padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    
}
.link:hover{
    background-color: rgba(93, 35, 148, 0.664);
}
.rodape{
margin: auto;
margin-top: 30%;
  

}
#conteiner{
 text-align: center;   
 
}
.fixado{
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.imagensEx{
    display: block;
    margin: auto;
    border-radius: 25px;
}